<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование теста</title>
    <link th:href="@{/css/pageStyle.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main-block">
    <header th:insert="fragments/header"></header>
<div class="element-block">
    <form th:method="PATCH" th:action="@{/tests/{testId}(testId=${test.getTestId()})}" th:object="${test}">
        <p>Название тестирования:</p>
        <p><input type="text" th:name="testName" th:value="${test.getTestName()}" size = "100"/></p>
        <p>Доступен для пользователей? <input type="checkbox" th:name="active" th:checked="${test.active}"/></p>
        <p><input type="submit" value="Обновить данные"/></p>
    </form>
    <form th:method="DELETE" th:action="@{/tests/{testId}(testId=${test.getTestId()})}" th:object="${test}">
        <p><input type="submit" value="Удалить тестирование"/></p>
    </form>
</div>
<div class="element-block">
    <h3>Список вопросов:</h3>
    <div class="element-block"><a class="link-text" th:href="@{/tests/{testId}/new(testId=${test.getTestId()})}">Добавить вопрос</a></div>
    <div class="element-block" th:each="question : ${test.getQuestionList()}">
        <p>ID Вопроса: <a th:text="${question.questionId}"></a> </p>
        <p>Текст вопроса : <a th:text="${question.questionText}"></a></p>
        <div class="element-block">
            <div th:if="${question.getAnswerList().size == 0}">
                <p>У данного вопроса еще нет ответов.</p>
            </div>
            <div th:each="answer : ${question.getAnswerList()}">
                <p><input type="checkbox" name="isRightAnswer" th:checked="${answer.rightAnswer}" disabled/> Ответ: <a th:text="${answer.getAnswerText()}"></a></p>
            </div>
        </div>
        <p><a class="link-text" th:href="@{/tests/{testId}/{questionId}/edit(testId=${test.getTestId()},questionId=${question.getQuestionId()})}" th:text="Изменить"></a></p>
    </div>
</div>
</div>
</body>
</html>