<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создать новое тестирование</title>
    <link th:href="@{/css/pageStyle.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main-block">
    <header th:insert="fragments/header"></header>
    <form form th:method="POST" th:action="@{/tests}" th:object="${test}">
        <h3>Создать новый тестирование</h3>
        Название тестирования:
        <p><input type="text" name="testName"/></p>
        Доступно для пользователей?
        <p><input type="checkbox" name="active"/></p>
        <input type="submit" value="Создать тестирование"/>
    </form>
</div>
</body>
</html>