<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Создать новое тестирование</title>
    <link th:href="@{/css/pageStyle.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main-block">
    <header th:insert="fragments/header"></header>
    <form class="element-block" th:method="POST" th:action="@{/tests}" th:object="${test}">
        Название тестирования:
        <p><input type="text" name="testName" size = "100"/></p>
        <p>Доступен для пользователей? <input type="checkbox" name="active"/></p>
        <p><input type="submit" value="Создать тестирование"/></p>
    </form>
</div>
</body>
</html>