<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список всех тестирований</title>
    <link th:href="@{/css/pageStyle.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main-block">
    <header th:insert="fragments/header"></header>
    <form class="element-block" th:action="@{/tests/search}">
        <h3>Поиск тестирования:</h3>
        <input type="text" name="search"/>
        <input type="submit" value="Поиск"/>
    </form>
    <div class="element-block">
        <a class="link-text" th:href="@{/tests/new}">Добавить новое тестирование</a>
    </div>
    <h3>Список тестирований:</h3>
    <div class="element-block" th:each="test : ${tests}">
        <p><a class="link-text" th:text="'Название: ' + ${test.getTestName()}" th:href="@{/tests/{testId}/edit(testId=${test.getTestId()})}"></a></p>
        <p>ID Тестирования: <a th:text="${test.getTestId()}"></a></p>
        <p>Количество вопросов: <a th:text="${test.getQuestionList().size()}"></a></p>
        <a class="link-text" th:href="@{/tests/{testId}/edit(testId=${test.getTestId()})}">Изменить </a>
    </div>
</div>
</body>
</html>