<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Редактирование вопроса</title>
    <link th:href="@{/css/pageStyle.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main-block">
    <header th:insert="fragments/header"></header>
    Изменить существующий вопрос:
    <form th:method="PATCH"
          th:action="@{/tests/{testId}/{questionId}(testId=${testId},questionId=${question.getQuestionId()})}"
          th:object="${question}">
        <p>Текст вопроса: <input type="text" th:field="*{questionText}"/></p>
        <p>Вариант А: <input type="text" th:field="*{optionA}"/></p>
        <p>Вариант B: <input type="text" th:field="*{optionB}"/></p>
        <p>Вариант C: <input type="text" th:field="*{optionC}"/></p>
        <p>Вариант D: <input type="text" th:field="*{optionD}"/></p>
        <p>Правильный ответ: <input type="text" th:field="*{answer}"/></p>
        <p><input type="submit" value="Обновить данные"/></p>
    </form>
    <form th:method="DELETE"
          th:action="@{/tests/{testId}/{questionId}(testId=${testId},questionId=${question.getQuestionId()})}"
          th:object="${question}">
        <p>    <input type="submit" value="Удалить Вопрос"/></p>
    </form>
</div>
</body>
</html>