<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить вопрос</title>
    <link th:href="@{/css/pageStyle.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main-block">
    <header th:insert="fragments/header"></header>
    <form class="element-block" th:action="@{/tests/{testId}(testId=${testId})}" method="POST" th:object="${question}">
        <input type="hidden" th:name="questionId" th:value="${question.getQuestionId()}"/>
        <p>Текст вопроса:</p>
        <input type="text" name="questionText" size = "100"/>
        <p>Вопрос с несколькими вариантами ответа? <input type="checkbox" name="multipleAnswerQuestion"/></p>
        <input type="submit" value="Добавить вопрос"/>
    </form>
</div>
</body>
</html>