<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Добавить вопрос</title>
</head>
<body>
<header th:insert="fragments/header"></header>
Добавить новый вопрос:
<form th:action="@{/tests/{test_id}(test_id=${testId})}" method="POST" th:object="${question}">
    <p>Текст вопроса: <input type="text" name="questionText"/></p>
    <p>Вариант А : <input type="text" name="optionA"/></p>
    <p>Вариант B: <input type="text" name="optionB"/></p>
    <p>Вариант C: <input type="text" name="optionC"/></p>
    <p>Вариант D: <input type="text" name="optionD"/></p>
    <p>Правильный ответ: <input type="text" name="answer"/></p>
    <input type="submit" value="Добавить вопрос"/>
</form>
</body>
</html>