<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Тестирование</title>
    <link th:href="@{/css/pageStyle.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main-block">
    <form th:method="POST" th:action="@{/results/save}" th:object="${test}" autocomplete="off">
        <script src="/js/timer.js"></script>
        <input type="hidden" th:value="${test.testId}" th:name="testId">
        <h2>Тест: <a th:text="${test.getTestName()}"></a> </h2>
        <input type="text" th:id="resultTime" th:name="resultTime" readonly>
        <div th:each="question : ${test.getQuestionList()}">
            <fieldset>
                <p><b th:text="${question.getQuestionText()}"></b></p>
                <p><input type="radio"
                          th:value="${question.getOptionA()}"
                          th:name="${'answer['+ question.questionId + ']'}"
                          th:text="${question.getOptionA()}">
                </p>
                <p><input type="radio"
                          th:value="${question.getOptionB()}"
                          th:name="${'answer['+ question.questionId + ']'}"
                          th:text="${question.getOptionB()}">
                </p>
                <p><input type="radio"
                          th:value="${question.getOptionC()}"
                          th:name="${'answer['+ question.questionId + ']'}"
                          th:text="${question.getOptionC()}">
                </p>
                <p><input type="radio"
                          th:value="${question.getOptionD()}"
                          th:name="${'answer['+ question.questionId + ']'}"
                          th:text="${question.getOptionD()}">
                </p>
            </fieldset>
        </div>
        <p><input type="submit" value="Закончить тестирование"></p>
    </form>
</div>
</body>
</html>