<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Список пользователей</title>
    <link th:href="@{/css/pageStyle.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main-block">
    <header th:insert="fragments/header"></header>
    <form class="element-block" th:action="@{/users/search}">
        <h3>Поиск пользователей:</h3>
        <input type="text" name="search"/>
        Искать по:
        <select name="searchType">
            <option value="fullName" >ФИО</option>
            <option value="departmentName" >Отделу</option>
        </select>
        <input type="submit" value="Поиск"/>
    </form>
    <div class="element-block">
        <a class="link-text" th:href="@{/users/new/}">Добавить нового пользователя</a>
    </div>
    <h3>Список пользователей:</h3>
    <div class="element-block" th:each="user : ${users}">
        <p>Имя пользователя: <a th:text="${user.getUsername()}"></a></p>
        <p>ФИО: <a th:text="${user.getFullName()}"></a></p>
        <p>Отдел: <a th:text="${user.getDepartment()}"></a></p>
        <a class="link-text" th:href="@{/users/{userId}(userId=${user.getUserId()})}">Подробнее</a>
    </div>
</div>
</body>
</html>