<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Header</title>
    <link th:href="@{/css/headerStyle.css}" rel="stylesheet" type="text/css" />
</head>
<header th:fragment="header" class="header-block">
    <div class="navigation-block">
        <a class="header-text" th:href="@{/}">Главная</a>
        <a class="header-text" sec:authorize ="hasAnyAuthority( 'USER', 'ADMIN')" th:href="@{/exam}">Тестирования</a>
        <a class="header-text" sec:authorize ="hasAnyAuthority( 'USER', 'ADMIN')"th:href="@{/results}">Результаты</a>
        <a class="header-text" sec:authorize ="hasAnyAuthority( 'USER', 'ADMIN')" th:href="@{/users}">Пользователи</a>
        <a class="header-text" sec:authorize ="hasAuthority('ADMIN')" th:href="@{/tests}">Редактирование тестирований</a>
    </div>
    <div class="user-block">
        <div sec:authorize ="isAnonymous()">
            <a class="header-text" th:href="@{/login}">Войти</a>
        </div>
        <div sec:authorize ="!isAnonymous()">
            <form th:action="@{/logout}" th:method="GET">
                <a class="header-text" th:text="'Текущий пользователь: ' + ${#authentication.getName()}"></a>
                <input type="submit" value="Выйти"/>
            </form>
        </div>
    </div>
</header>
</html>