.main-block {
    margin-left: auto;
    margin-right: auto;
    width: 1300px;
}

.element-block {
    border: 2px solid;
    margin-top: 15px;
    padding: 10px;
}

.main-text {
    font-size: 16px;
}

.link-text {
    color: black;
    font-size: 16px;
    text-decoration: none;
    font-weight:bold;
}

.authorization-block {
    width: 30%;
    padding: 20px;
    text-align: center;
    border: 2px solid;
    margin-top: 15px;
    margin-left: auto;
    margin-right: auto;
}

.pagination {
    width: 75%;
    display: flex;
    justify-content: center;
    padding: 10px;
}

.pagination-navigation {
    border: 2px solid;
    line-height: 34px;
    text-align: center;
    width: 40px;
    height: 35px;
    overflow: hidden;
    margin-right: 10px;
}

.pagination-navigation-active-element {
    text-decoration: none;
    color: black;
    text-align: center;
}

.pagination-navigation-inactive-element {
    text-decoration: none;
    color: LightGray;
    text-align: center;
    pointer-events: none;
}