<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <title>Добро пожаловать</title>
    <link th:href="@{/css/pageStyle.css}" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="main-block">
    <header th:insert="fragments/header"></header>
    <div class="element-block">
        <h3>Добро пожаловать.</h3>
        <hr/>
        <div sec:authorize ="isAnonymous()">
            <p>Авторизируйтесь, чтобы получить доступ к основному функционалу.</p>
        </div>
        <div sec:authorize ="!isAnonymous()">
            <p><a class="link-text" sec:authorize ="hasAnyAuthority('ADMIN', 'USER')"th:href="@{/exam}">Список тестов, доступных для прохождения</a></p>
            <p><a class="link-text" sec:authorize ="hasAnyAuthority('ADMIN', 'USER')"th:href="@{/results}">Результаты тестирования</a></p>
            <p><a class="link-text" sec:authorize ="hasAuthority('ADMIN')" th:href="@{/users}">Список пользователей</a></p>
            <p><a class="link-text" sec:authorize ="hasAuthority('ADMIN')" th:href="@{/tests}">Список всех тестирований </a></p>
        </div>
    </div>
</div>
</body>
</html>